version: '3'
services:
    mongo:
        image: mongo
        restart: always
        ports:
            - "27017:27017"
    payment:
        build: .
        depends_on:
            - mongo
        volumes:
            - ./:/App:delegated
        ports:
            - "5000:5000"
            - "5001:5001"
        environment: 
            - ASPNETCORE_Kestrel__Certificates__Default__Path=/App/certificates/backend.pfx
            - ASPNETCORE_Kestrel__Certificates__Default__Password=defaultpassword
            - PaymentDatabaseSettings__PaymentCollectionName=payment
            - PaymentDatabaseSettings__ConnectionString=mongodb://mongo:27017
            - PaymentDatabaseSettings__DatabaseName=paymenthub
    frontend:
        image: node:12.18-buster
        working_dir: "/app"
        volumes:
            - ./app:/app
        command: ["npm", "run", "serve"]
        ports:
            - "8080:8080"